.loadingAnimation {
    animation-name: loader;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes loader {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}