
/* Define default variables */
:root {
    --planet-size-multiplier: 1;
    --planet-separation-multiplier: 1;
  }
  
  /* Define variables for small screens */
  @media (max-width: 376px) {
    :root {
        --merc-dist:3.5vw;
        --indiv-dist:4.5vw;
        --planet-size-multiplier: 1.8;
        --planet-separation-multiplier:4;
    }
  }
  
  /* Define variables for medium screens */
  @media (min-width: 376px) and (max-width: 600px) {
    :root {
        --merc-dist:7vw;
        --indiv-dist:2.6vw;
        --planet-size-multiplier: 1.3;
        --planet-separation-multiplier: 2.5;
    }
  }
  @media (min-width: 600px) and (max-width:923px){
    :root {
        --merc-dist:10vw;
        --indiv-dist:0.4vw;
        --planet-size-multiplier: 0.6;
        --planet-separation-multiplier: 0.6;
    }
  }
  

  @media (min-width: 600px) and (max-width :900px)  {
    :root {
        
        --merc-dist:9vw;
        --indiv-dist:3vw;
        --planet-size-multiplier: 1.3;
        --planet-separation-multiplier:1.7;
    }
  }
  @media (min-width: 800px){
    :root {
        
        --merc-dist:16vw;
        --indiv-dist:0.7vw;
        --planet-size-multiplier: 0.7;
        --planet-separation-multiplier: 0.5;
    }
  }

    @media (min-height: 1365px ) {
    :root {
        
        --merc-dist:5vw;
        --indiv-dist:3vw;
        --planet-size-multiplier: 1.45;
        --planet-separation-multiplier:4;
    }
  }
  /* Rest of your CSS code using these variables */
  
:root {

    --size-su: calc(9vw  * var(--planet-size-multiplier));
    --size-me: calc(1.8vw * var(--planet-size-multiplier));
    --size-ve: calc(2vw * var(--planet-size-multiplier));
    --size-ea: calc(2.2vw   * var(--planet-size-multiplier));
    --size-ma: calc(1.7vw * var(--planet-size-multiplier));
    --size-ju: calc(3.4vw * var(--planet-size-multiplier));
    --size-sa: calc(2.8vw * var(--planet-size-multiplier));
    --size-ur: calc(2.3vw * var(--planet-size-multiplier));
    --size-ne: calc(2.4vw * var(--planet-size-multiplier));

    --planet_sep :calc(2.27vw);

    --dist_me: calc(var(--merc-dist) * var(--planet-separation-multiplier));
    --dist_ve: calc(var(--dist_me) + var(--planet_sep) + var(--indiv-dist));
    --dist_ea: calc(var(--dist_ve) + var(--planet_sep) + var(--indiv-dist));
    --dist_ma: calc(var(--dist_ea) + var(--planet_sep) + var(--indiv-dist));
    --dist_ju: calc(var(--dist_ma) + var(--planet_sep) + var(--indiv-dist));
    --dist_sa: calc(var(--dist_ju) + var(--planet_sep) + var(--indiv-dist));
    --dist_ur: calc(var(--dist_sa) + var(--planet_sep) + var(--indiv-dist));
    --dist_ne: calc(var(--dist_ur) + var(--planet_sep) + var(--indiv-dist));

    --earth-days: 15s;

    --orbit-constant: calc( var(--planet-size-multiplier) * 2vw);
}



* {margin: 0; padding: 0;}

body{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 50%; 
  left: 50%;
  overflow: hidden;
  background-image: url("textures/2k_stars.jpg");
  background-size:cover;
  background-repeat: repeat;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("textures/2k_stars_milky_way.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust the opacity to control transparency */
  z-index: 2; /* Ensure the second background is above the first */
}

.info {
    text-shadow: 0px 0px 5px goldenrod, 0px 0px 7px goldenrod, 0px 0px 10px goldenrod;
}

.main{
    /* display: flex; */
    /* border: 10px solid white;    */
    /* justify-content:center ; */
    /* align-items: center; */
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    size: 10rem;
    z-index: 10;
    
}
.sun {
    /* border: 4px solid white; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%; 
    left: 50%;
    width: var(--size-su);
    height: var(--size-su);
    border-radius: 50%;

    background-color: white;
    box-shadow: inset 0 0 calc(0.10vw * var(--planet-size-multiplier)) orange,
                inset 0 0 calc(0.20vw * var(--planet-size-multiplier)) orange, 
                inset 0 0 calc(0.30vw * var(--planet-size-multiplier)) orange,
                0 0 calc(2.0vw * var(--planet-size-multiplier)) goldenrod, 
                0 0 calc(3.0vw * var(--planet-size-multiplier)) goldenrod, 
                0 0 calc(10.0vw * var(--planet-size-multiplier)) goldenrod, 
                0 0 calc(15.0vw * var(--planet-size-multiplier)) goldenrod, 
                0 0 calc(20.0vw * var(--planet-size-multiplier)) goldenrod, 
                0 0 calc(25.0vw * var(--planet-size-multiplier)) goldenrod, 
                0 0 calc(30.0vw * var(--planet-size-multiplier)) goldenrod;
    /* box-shadow: inset 0 0 10px white,inset 0 0 100px white, inset 0 0 9px white, 0 0 100px white, 0 0 1000vh white, 0 0 1000vh white;    */
    background-image: url("textures/2k_sun.jpg");
    background-size: cover;
    background-repeat:repeat;
    background-position: center; 
    animation: sunanime 500s infinite  linear;
}
@keyframes sunanime {
    0% {
        background-position: 1px 1;
    }
    100%{
        background-position: 2049px 1025px;
    }

    
}
.sun-shadow{
    /* z-index: 100; */
    /* border: 4px solid white; */
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(-50%,-50%);
    width: var(--size-su);
    height: var(--size-su);
    border-radius: 50%;
    /* transform: translate(-50%, -50%); */
    background-color: rgba(0, 0, 0, 0)
}
.mercury-hb, .venus-hb, .earth-hb, .mars-hb , .jupiter-hb, .saturn-hb , .uranus-hb, .neptune-hb{
    position: absolute;
    max-height:0px;
    max-width: 0px;
    /* border: solid  white; */
    /* transform: translate(-50%, -50%); */
    /* top: 50%; 
    left: 50%; */
    display:flex;
    align-items: center;
    justify-content: center;
    
}


.mercury, .venus, .earth, .mars , .jupiter, .saturn , .uranus, .neptune{
    position: relative;
    border-radius: 50%;
    transform: translate(-50%,-50%); 
}
@keyframes rot {
    0%{
        background-position: calc(1.0vw * var(--planet-size-multiplier))  calc(0.1vw * var(--planet-size-multiplier));
    }
    100%{
        background-position: calc(204.9vw * var(--planet-size-multiplier)) calc(0.1vw * var(--planet-size-multiplier));
    }    
}

.mercury {
    
    width: var(--size-me);
    height: var(--size-me);
    background-color: #B7B8B9;
    animation: ROTATE-adj calc((88/365)*var(--earth-days)) infinite linear;
    overflow: hidden;
    background-image: url("textures/2k_mercury.jpg");
    background-size: cover;
    background-repeat:repeat;
    background-position: center;
    animation: rot calc(var(--earth-days) / 365 * 172)  infinite linear; 
}
    
.mercury::after{
    content:'';
    position:absolute;
    display :block;
    border-radius: 50%;
    width: var(--size-me);
    height: var(--size-me);
    box-shadow: inset calc(-0.5vw * var(--planet-size-multiplier)) calc(-0.1vw * var(--planet-size-multiplier)) calc(1.0vw * var(--planet-size-multiplier)) calc(0.1vw * var(--planet-size-multiplier)) rgba(0, 0, 0, 0.8);
    
}
.mercury-hb{
    animation: ROTATE-mehb calc((88/365)*var(--earth-days)) infinite linear;
} 


.venus {
    width: var(--size-ve);
    height: var(--size-ve);
    background-color: #FFC649;
    animation: ROTATE-adj calc((225/365)*var(--earth-days)) infinite linear;
    background-image: url("textures/2k_venus_surface.jpg");
    background-size: cover;
    background-repeat:repeat;
    background-position: center;
    animation: rot calc(var(--earth-days) / 365 * 243)  infinite linear; 
}

.venus::after{
    content:'';
    position:absolute;
    display :block;
    border-radius: 50%;
    width: var(--size-ve);
    height: var(--size-ve);
    box-shadow: inset calc(-0.5vw * var(--planet-size-multiplier)) calc(-0.1vw * var(--planet-size-multiplier)) calc(1.0vw * var(--planet-size-multiplier)) calc(0.1vw * var(--planet-size-multiplier)) rgba(0, 0, 0, 0.9);
}
.venus-hb{
    animation: ROTATE-vehb calc((225/365)*var(--earth-days)) infinite linear;
}

.earth {
    width: var(--size-ea);
    height: var(--size-ea);
    background-color: blue;
    animation: ROTATE-adj var(--earth-days) infinite linear;
    background-image: url("textures/2k_earth_daymap.jpg");
    background-size:cover;
    background-repeat:repeat;
    animation: rot calc(var(--earth-days) / 365 )  infinite linear;
    background-position: calc(1.9vw * var(--planet-size-multiplier))  calc(0.1vw * var(--planet-size-multiplier));
}

.earth::after{
    content:'';
    position:absolute;
    display :block;
    border-radius: 50%;
    width: var(--size-ea);
    height: var(--size-ea);
    box-shadow: inset calc(-0.5vw * var(--planet-size-multiplier)) calc(-0.1vw * var(--planet-size-multiplier)) calc(1.0vw * var(--planet-size-multiplier)) calc(0.1vw * var(--planet-size-multiplier)) rgba(0, 0, 0, 0.9),0vw 0vw calc(0.5vw * var(--planet-size-multiplier)) blue;  
}
.earth-hb{
    animation: ROTATE-eahb var(--earth-days) infinite linear;
}

.mars {
    width: var(--size-ma);
    height: var(--size-ma);
    background-color: #9C2E35;
    animation: ROTATE-adj calc((687/365)*var(--earth-days)) infinite linear;
    border-radius: 50%; 
    background-image: url("textures/2k_mars.jpg");
    background-size:cover;
    background-repeat:repeat;
    background-position: 0vw 0vw;
    animation: rot calc(var(--earth-days) / 365 )  infinite linear;
}
.mars::after{
    content:'';
    position:absolute;
    display :block;
    border-radius: 50%;
    width: var(--size-ma);
    height: var(--size-ma);
    box-shadow: inset calc(-0.5vw * var(--planet-size-multiplier)) calc(-0.1vw  * var(--planet-size-multiplier))calc(0.8vw * var(--planet-size-multiplier)) calc(0.1vw * var(--planet-size-multiplier)) rgba(0, 0, 0, 0.8),calc(0vw * var(--planet-size-multiplier)) calc(0vw * var(--planet-size-multiplier)) calc(0.5vw * var(--planet-size-multiplier)) black;  
}
.mars-hb{
    animation: ROTATE-mahb calc((687/365)*var(--earth-days)) infinite linear;
}



.jupiter {
    width: var(--size-ju);
    height: var(--size-ju);
    background-color: #bcafb2 ;
    animation: ROTATE-adj calc((4333/365)*var(--earth-days)) infinite linear;
    background-image: url("textures/2k_jupiter.jpg");
    background-size:cover;
    background-repeat:repeat;
    background-position: 1.0vw 0vw;
    animation: rot calc(var(--earth-days) / (365*3) )  infinite linear;
}
.jupiter::after{
    content:'';
    position:absolute;
    display :block;
    border-radius: 50%;
    width: var(--size-ju);
    height: var(--size-ju);
    box-shadow: inset calc(-0.5vw * var(--planet-size-multiplier)) calc(-0.1vw * var(--planet-size-multiplier)) calc(0.8vw * var(--planet-size-multiplier)) calc(0.4vw * var(--planet-size-multiplier)) rgba(0, 0, 0, 1),0vw 0vw calc(0.5vw * var(--planet-size-multiplier)) black;  
}
.jupiter-hb{
    animation: ROTATE-juhb calc((4333/365)*var(--earth-days)) infinite linear;;
}


.saturn {
    max-width: calc(4.0vw * var(--planet-size-multiplier));
    max-height: calc(2.8vw * var(--planet-size-multiplier));
    width: var(--size-sa);
    height: var(--size-sa);
    justify-content: center;
    align-items: center;
    background-color:#f7b565;
    animation: ROTATE-adj calc((10756/365)*var(--earth-days)) infinite linear;
    background-image: url("textures/2k_saturn.jpg");
    background-size:cover;
    background-repeat:repeat;
    background-position: calc(1.0vw * var(--planet-size-multiplier)) calc(0.0vw * var(--planet-size-multiplier));
    box-shadow: inset calc(-0.5vw * var(--planet-size-multiplier)) calc(-0.6vw * var(--planet-size-multiplier)) calc(0.7vw * var(--planet-size-multiplier)) calc(0.05vw * var(--planet-size-multiplier)) rgba(0, 0, 0, 0.8);
    animation: rot calc(var(--earth-days) / 365 * 0.44002315 )  infinite linear;
}
.tops{
    position: relative;
  width:calc(var(--size-sa)-8px);
  height:calc(var(--size-sa)/2);
  top:calc(-3.0vw * var(--planet-size-multiplier));
  border-radius:calc(2.2vw * var(--planet-size-multiplier)) calc(2.2vw * var(--planet-size-multiplier)) 0vw 0vw;
  background-color: #ffc680;
  background-image: url("textures/2k_saturn.jpg");
  background-size:cover;
  background-repeat:repeat;
  background-position: 1.0vw 0.3vw;
  box-shadow: inset calc(-0.5vw * var(--planet-size-multiplier)) calc(0.2vw * var(--planet-size-multiplier)) calc(1.0vw * var(--planet-size-multiplier)) calc(0.1vw * var(--planet-size-multiplier)) rgba(0, 0, 0, 0.8);
}
.rings{
        rotate: 0deg;
        border:solid calc(0.6vw * var(--planet-size-multiplier)) #2c261f;
        box-shadow: none !important;
        width:  calc(5.0vw * var(--planet-size-multiplier));
        height: calc(3.0vw * var(--planet-size-multiplier));
        /* border: solid 5px #5f5b48; */
        border-radius: 50%;
        position: relative;
        left:calc(-1.2vw * var(--planet-size-multiplier));
        top:calc( -0.3vw* var(--planet-size-multiplier)) ;
        transform: rotate3d(1, 0, 0,60deg); 
}
.saturn-hb{
    animation: ROTATE-sahb calc((10756/365)*var(--earth-days)) infinite linear;
}


.uranus {
    width: var(--size-ur);
    height: var(--size-ur);
    background-color: #4FD0E7;
    animation: ROTATE-adj calc((30687/365)*var(--earth-days)) infinite linear;
    background-image: url("textures/2k_uranus.jpg");
    background-size:cover;
    background-repeat:repeat;
    background-position: calc(1.0vw * var(--planet-size-multiplier)) 0vw;
    animation: rot calc(var(--earth-days) / 365 * 0.71833333 )  infinite linear;
}
.ringu{
    rotate: 0deg;
    border:solid calc(0.3vw * var(--planet-size-multiplier)) #ACE5EE;
    box-shadow: none !important;
    width:calc(3.3vw * var(--planet-size-multiplier)) ;
    height:calc(3.0vw * var(--planet-size-multiplier)) ;
    border-radius: 50%;
    position: relative;
    left:calc(-0.5vw * var(--planet-size-multiplier));
    top:calc(-0.4vw * var(--planet-size-multiplier));
    transform: rotate3d(1, 0, 0,65deg); 
}
.topu
{
        position: relative;
        width:calc(var(--size-ur) -4px);
        height:calc(var(--size-ur)/2 -4px);
        top:calc(-3.0vw * var(--planet-size-multiplier));
        border-radius:calc(10.0vw * var(--planet-size-multiplier)) calc(10.0vw * var(--planet-size-multiplier)) 0vw 0vw;
        background-color: #5ccee2;
        background-image: url("textures/2k_uranus.jpg");
        background-size:cover;
        background-repeat:repeat;
        background-position:calc(0.2vw * var(--planet-size-multiplier)) calc(1.2vw * var(--planet-size-multiplier));
        box-shadow: inset calc(-0.5vw * var(--planet-size-multiplier)) calc(-0.8vw * var(--planet-size-multiplier)) calc(0.8vw * var(--planet-size-multiplier)) calc(0.1vw * var(--planet-size-multiplier)) rgba(0, 0, 0, 0.7);
}
.uranus-hb{
    animation: ROTATE-urhb calc((30687/365)*var(--earth-days)) infinite linear;
}





.neptune {
    width: var(--size-ne);
    height: var(--size-ne);
    background-color: #2990B5;
    animation: ROTATE-adj calc((60190/365)*var(--earth-days)) infinite linear;
    background-image: url("textures/2k_neptune.jpg");
    background-size: cover;
    background-repeat:repeat;
    background-position: center;
    animation: rot calc(var(--earth-days) / 365 * 0.67041667 )  infinite linear;

}
.neptune::after{
    content:'';
    position:absolute;
    display :block;
    border-radius: 50%;
    width: var(--size-ne);
    height: var(--size-ne);
    box-shadow: inset calc(-0.5vw * var(--planet-size-multiplier)) calc(-0.1vw * var(--planet-size-multiplier)) calc(1.0vw * var(--planet-size-multiplier)) calc(0.3vw * var(--planet-size-multiplier)) rgba(0, 0, 0, 0.9); 
}
.neptune-hb{
    animation: ROTATE-nehb calc((60190/365)*var(--earth-days)) infinite linear;
}



@keyframes ROTATE-mehb {
    0% {
        transform: rotate(0deg)  
        translateX(calc(var(--dist_me))) rotate(-40deg); 
        
    } 

    100% {
        transform: rotate(360deg)  
        translateX(calc(var(--dist_me))) rotate(-40deg);
        
    } 
}
@keyframes ROTATE-vehb{
    0% { 
        transform: rotate(45deg)  
              translateY(var(--dist_ve))  rotate(60deg); 
    } 

    100% { 
        transform: rotate(405deg)  
        translateY(var(--dist_ve))  rotate(60deg); 
    } 
}
@keyframes ROTATE-eahb {
    0% {
        transform: rotate(90deg) translateY(var(--dist_ea))
        rotate(80deg);
    }

    100% {
        transform: rotate(450deg) translateY(var(--dist_ea)) rotate(80deg);
    }
}
@keyframes ROTATE-mahb{
    0% { 
        transform: rotate(135deg)  
              translateY(var(--dist_ma))  rotate(70deg); 
    } 

    100% { 
        transform: rotate(495deg)  
        translateY(var(--dist_ma))  rotate(70deg); 
    } 
}

@keyframes ROTATE-juhb{
    0% { 
        transform: rotate(180deg)  
              translateY(var(--dist_ju))  rotate(90deg); 
    } 

    100% { 
        transform: rotate(540deg)  
        translateY(var(--dist_ju))  rotate(90deg); 
    } 
}

@keyframes ROTATE-sahb{
    0% { 
        transform: rotate(225deg)  
              translateY(var(--dist_sa))  rotate(0deg) ; 
    } 

    100% { 
        transform: rotate(585deg)  
        translateY(var(--dist_sa))  rotate(0deg); 
    } 
}

@keyframes ROTATE-urhb{
    0% { 
        transform: rotate(270deg)  
              translateY(var(--dist_ur))  rotate(0deg); 
    } 

    100% { 
        transform: rotate(630deg)  
        translateY(var(--dist_ur))  rotate(0deg); 
    } 
}

@keyframes ROTATE-nehb{
    0% { 
        transform: rotate(315deg)  
              translateY(var(--dist_ne))  rotate(70deg); 
    } 

    100% { 
        transform: rotate(675deg)  
        translateY(var(--dist_ne))  rotate(70deg); 
    } 
}
@keyframes ROTATE-adj {
    0%{
        transform: translateX(-50%)
                    translateY(-50%); 
    } 
    
    50%{
        transform: translateX(-50%)
        translateY(-50%);
    }

    100%{
        transform: translatex(-50%)
        translateY(-50%);
    } 
} 
.orbit {
    z-index: -10;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 0.2vw solid rgba(255, 255, 255, 0.078);
    border-radius: 50%;
    transition: border-color 0.3;
    /* display: ; */
}

.orbit-me{
    width: calc(2 * var(--dist_me) - var(--orbit-constant));
    height: calc(2 * var(--dist_me) - var(--orbit-constant));
  }
.orbit-ve{
    width: calc(2 * var(--dist_ve) - var(--orbit-constant));
    height: calc(2 * var(--dist_ve) - var(--orbit-constant));
  }
  
  .orbit-ea{
    width: calc(2 * var(--dist_ea) - var(--orbit-constant));
    height: calc(2 * var(--dist_ea) - var(--orbit-constant));
  }
  
  .orbit-ma{
    width: calc(2 * var(--dist_ma) - var(--orbit-constant));
    height: calc(2 * var(--dist_ma) - var(--orbit-constant));
  }
  
  .orbit-ju{
    width: calc(2 * var(--dist_ju) - var(--orbit-constant));
    height: calc(2 * var(--dist_ju) - var(--orbit-constant));
  }
  
  .orbit-sa{
    width: calc(2 * var(--dist_sa) - var(--orbit-constant));
    height: calc(2 * var(--dist_sa) - var(--orbit-constant));
  }
  
  .orbit-ur{
    width: calc(2 * var(--dist_ur) - var(--orbit-constant));
    height: calc(2 * var(--dist_ur) - var(--orbit-constant));
  }
  
  .orbit-ne {
    width: calc(2 * var(--dist_ne) - var(--orbit-constant));
    height: calc(2 * var(--dist_ne) - var(--orbit-constant));
  }


  .mercury-i, .venus-i, .earth-i, .mars-i , .jupiter-i, .saturn-i , .uranus-i, .neptune-i , .sun-i {
    position: relative;
    border-radius: 50%;
    /* transform: translate(-50%,-50%);  */
}

@keyframes rot_i {
    0%{
        background-position: 200% calc(0.1vw * var(--planet-size-multiplier));
    }
    100%{
        background-position: 0% calc(0.1vw * var(--planet-size-multiplier));
    }
    
}

/* Common styles for all planets */
.planet-i {
    width: 30vw;
    height: 30vw;
    background-size: cover;
    background-repeat: repeat;
    animation: rot_i 5s infinite linear;
    background-position: calc(1.0vw * var(--planet-size-multiplier)) calc(0.1vw * var(--planet-size-multiplier));
  }
  
  /* Sun */
  .sun-i {
    width: 30vw;
    height: 30vw;
    background-size: cover;
    background-repeat: repeat;
    animation: rot_i 15s infinite linear;
    background-position: calc(1.0vw * var(--planet-size-multiplier)) calc(0.1vw * var(--planet-size-multiplier));
    background-color: goldenrod;
    box-shadow: inset 0 0 calc(1vw * var(--planet-size-multiplier)) orange,
                inset 0 0 calc(2vw * var(--planet-size-multiplier)) orange, 
                inset 0 0 calc(3vw * var(--planet-size-multiplier)) orange,
                0 0 calc(2.0vw * var(--planet-size-multiplier)) goldenrod, 
                0 0 calc(3.0vw * var(--planet-size-multiplier)) goldenrod, 
                0 0 calc(5.0vw * var(--planet-size-multiplier)) goldenrod, 
                0 0 calc(10.0vw * var(--planet-size-multiplier)) goldenrod, 
                0 0 calc(15.0vw * var(--planet-size-multiplier)) goldenrod, 
                0 0 calc(20.0vw * var(--planet-size-multiplier)) goldenrod, 
                0 0 calc(25.0vw * var(--planet-size-multiplier)) goldenrod;
    background-image: url("textures/2k_sun.jpg");    
  }

  /* Earth */
  .earth-i {
    width: 30vw;
    height: 30vw;
    background-size: cover;
    background-repeat: repeat;
    animation: rot_i 5s infinite linear;
    background-position: calc(1.0vw * var(--planet-size-multiplier)) calc(0.1vw * var(--planet-size-multiplier));
    background-color: blue;
    background-image: url("textures/2k_earth_daymap.jpg");
  }
  
  /* Mercury */
  .mercury-i {
    width: 30vw;
    height: 30vw;
    background-size: cover;
    background-repeat: repeat;
    animation: rot_i 5s infinite linear;
    background-position: calc(1.0vw * var(--planet-size-multiplier)) calc(0.1vw * var(--planet-size-multiplier));
    background-color: red;
    background-image: url("textures/2k_mercury.jpg");
  }
  
  /* Venus */
  .venus-i {
    width: 30vw;
    height: 30vw;
    background-size: cover;
    background-repeat: repeat;
    animation: rot_i 5s infinite linear;
    background-position: calc(1.0vw * var(--planet-size-multiplier)) calc(0.1vw * var(--planet-size-multiplier));
    background-color: orange;
    background-image: url("textures/2k_venus_surface.jpg");
  }
  
  /* Mars */
  .mars-i {
    width: 30vw;
    height: 30vw;
    background-size: cover;
    background-repeat: repeat;
    animation: rot_i 5s infinite linear;
    background-position: calc(1.0vw * var(--planet-size-multiplier)) calc(0.1vw * var(--planet-size-multiplier));
    background-color: red;
    background-image: url("textures/2k_mars.jpg");
  }
  
  /* Jupiter */
  .jupiter-i {
    width: 30vw;
    height: 30vw;
    background-size: cover;
    background-repeat: repeat;
    animation: rot_i 5s infinite linear;
    background-position: calc(1.0vw * var(--planet-size-multiplier)) calc(0.1vw * var(--planet-size-multiplier));
    background-color: #dcb07a;
    background-image: url("textures/2k_jupiter.jpg");
  }
  
  /* Saturn */
  .saturn-i {
    left: 10vw;
    width: 25vw;
    height: 25vw;
    background-size: cover;
    background-repeat: repeat;
    /* animation: rot_i 5s infinite linear; */
    /* background-position: 0% calc(0.1vw * var(--planet-size-multiplier)); */
    background-color: #dcb07a;
    background-image: url("textures/2k_saturn.jpg");
    box-shadow: inset calc(-1.5vw) 0 2vw calc(0.6vw) rgba(0, 0, 0, 0.8);
  }
  
  .tops-i {
    position: relative;
    width: calc(25vw);
    height: calc(25vw / 2);
    top: calc(-30vw);
    border-radius: calc(20vw) calc(20vw) 0vw 0vw;
    background-color: #ffc680;
    animation: rot_i 5s infinite linear;
    background-image: url("textures/2k_saturn.jpg");
    background-size: cover;
    background-repeat: repeat;
    /* background-position: 10% 10%; */
    box-shadow: inset calc(-2vw) 0 2vw 0 rgba(0, 0, 0, 0.8);
  }

  
  .rings-i {
    width: calc(45vw);
    height: calc(30vw);
    border-radius: 50%;
    position: relative;
    left: -10vw;
    top: calc(-3vw);
    transform: rotate3d(1, 0, 0, 50deg);
    border: solid calc(1vw) #43403d88;
  }
  
  .rings-i::before,
  .rings-i::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .rings-i::before {
    border: solid calc(5vw) #4e473fd3;
  }
  
  .rings-i::after {
    border: solid calc(2vw)  #2c261f9e;
    /* transform: rotate(60deg); */
  }
  
  
  
  /* Uranus */
  .uranus-i {
    left: 10vw;
    width: 25vw;
    height: 25vw;
    background-size: cover;
    background-repeat: repeat;
    /* animation: rot_i 5s infinite linear; */
    /* background-position: 0% calc(0.1vw * var(--planet-size-multiplier)); */
    background-color: #dcb07a;
    background-image: url("textures/2k_uranus.jpg");
    /* box-shadow: inset calc(-1.5vw) 0 2vw calc(0.6vw) rgba(0, 0, 0, 0.8); */
  }
  
  .topu-i {
    position: relative;
    width: calc(25vw);
    height: calc(25vw / 2);
    top: calc(-30vw);
    border-radius: calc(20vw) calc(20vw) 0vw 0vw;
    background-color: #ffc680;
    animation: rot_i 5s infinite linear;
    background-image: url("textures/2k_uranus.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: 0 90px;
    /* box-shadow: inset calc(-2vw) 0 2vw 0 rgba(0, 0, 0, 0.8); */
  }

  
  .ringu-i {
    width: calc(45vw);
    height: calc(30vw);
    border-radius: 50%;
    position: relative;
    left: -10vw;
    top: calc(-3vw);
    transform: rotate3d(1, 0, 0, 50deg);
    border: solid calc(3vw) rgba(126, 249, 249, 0.533);
  }
  
  .ringu-i::before,
  .ringu-i::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .ringu-i::before {
    border: solid calc(5vw) rgba(60, 122, 122, 0.533);
  }
  
  .ringu-i::after {
    border: solid calc(2vw)  rgba(71, 164, 164, 0.533);
    /* transform: rotate(60deg); */
  }
  
  
  /* Neptune */
  .neptune-i {
    width: 30vw;
    height: 30vw;
    background-size: cover;
    background-repeat: repeat;
    animation: rot_i 5s infinite linear;
    background-position: calc(1.0vw * var(--planet-size-multiplier)) calc(0.1vw * var(--planet-size-multiplier));
    background-color: #00f;
    background-image: url("textures/2k_neptune.jpg");
  }
  
  /* Common styles for the planet's shadow */
  .planet-i::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
  }
  
  /* Earth's shadow */
  .earth-i::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    box-shadow: inset 20px 20px 20px 20px rgba(0, 0, 0, 0.9), 0 0 50px blue;
  }
  
  /* Mercury's shadow */
  .mercury-i::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    box-shadow: inset 20px 20px 20px 20px rgba(0, 0, 0, 0.9);
  }
  
  /* Venus's shadow */
  .venus-i::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    box-shadow: inset 20px 20px 20px 20px rgba(0, 0, 0.9)
  }  
  
  /* Mars's shadow */
.mars-i::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    box-shadow: inset 20px 20px 20px 20px rgba(0, 0, 0, 0.9), 0 0 50px red;
  }
  
  /* Jupiter's shadow */
  .jupiter-i::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    box-shadow: inset 20px 20px 20px 20px rgba(0, 0, 0, 0.9), 0 0 50px #dcb07a;
  }
  
  /* Saturn's shadow */
  .saturn-i::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    /* box-shadow: inset 20px 20px 20px 20px rgba(0, 0, 0, 0.9), 0 0 50px #dcb07a; */
  }
  
  /* Uranus's shadow */
  .uranus-i::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    /* box-shadow: inset 20px 20px 20px 20px rgba(0, 0, 0, 0.9), 0 0 50px #00f; */
  }
  
  /* Neptune's shadow */
  .neptune-i::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    box-shadow: inset 20px 20px 20px 20px rgba(0, 0, 0, 0.9), 0 0 50px #00f;
  }
  