:root {
    --size-su: 100px;
    --size-me: 7px;
    --size-ve: 8px;
    --size-ea: 9px;
    --size-ma: 8px;
}
* {margin: 0; padding: 0;}


.main{
    display: flex;
    justify-content:center ;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    border : 4px solid white;
}
.sun {
    border: 4px solid white;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    width: var(--size-su);
    height: var(--size-su);
    border-radius: 50%;
    /* transform: translate(-50%, -50%); */
    background-color: white;
    box-shadow: inset 0 0 10px goldenrod, inset 0 0 9px goldenrod, 0 0 20px orangered, 0 0 19px orangered;
}


.mercury, .venus, .earth, .mars {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.mercury {
    width: var(--size-me);
    height: var(--size-me);
    background-color: #B7B8B9;
    animation: ROTATE-me 5s infinite linear;
}

.venus {
    width: var(--size-ve);
    height: var(--size-ve);
    background-color: #FFC649;
    animation: ROTATE-ve 5s infinite linear;
}

.earth {
    width: var(--size-ea);
    height: var(--size-ea);
    background-color: blue;
    animation: ROTATE-ea 5s infinite linear;
}

.mars {
    width: var(--size-ma);
    height: var(--size-ma);
    background-color: #9C2E35;
    animation: ROTATE-ma 5s infinite linear;
}

@keyframes ROTATE-me {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes ROTATE-ve {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes ROTATE-ea {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes ROTATE-ma {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


