  .Sample{
      background-repeat: no-repeat;
      background-size: 36px 36px;
      background-position: 50% 50%;
      width: 40px;
      height: 40px;
      border-radius: 30%;
      z-index: 10;
      position: relative;
  }

    @media (min-width: 100px) and (max-width: 800px) {
      .interact-tab {
        display: flex;
        justify-content: flex-end ;
        top:15vh;
        position: absolute;
        border-radius:0 35px 35px 0;
        /* margin-top:13vh; */
        height: 70vh;
        width: 40vh;
        border: 3px solid white;
        left:-3px;
        background-color: rgba(0, 0, 0, 0.8); /* 0% opacity */
      }
      .Close{
        transform: translate(-50%,-50%);

        background-image: url(../assets/lesser-than-icon.svg);
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: 50% 50%;
        background-color: black;
        width: 25px;
        height: 100px;
        border: 3px solid white;
        border-radius:0 20% 20% 0;
        z-index: 10;
        position: relative;
        top:50%;
        left:37.5px;
      }
      .Open{
        position: absolute;
        transform: translate(-50%,-50%);
        background-image: url(../assets/greater-than-icon.svg);
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: 50% 50%;
        background-color: black;
        width: 25px;
        height: 100px;
        border: 3px solid white;
        border-radius:0 20% 20% 0;
        z-index: 10;
        top: 50vh;
        left: 1.9vw;
      }
    }

    @media (min-width: 800px) {
      .interact-tab {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        border:3px solid white;      
        top:-1vh;
        left:-4vw;
        height: 102vh;
        width: 60vh;
        background-color: rgba(0, 0, 0, 1); 
      }
      .Close{
        background-image: url(../assets/settings-svgrepo-com.svg);

        background-repeat: no-repeat;
        background-size: 36px 36px;
        background-position: 50% 50%;
        width: 30px;
        height: 30px;
        border-radius: 30%;
        z-index: 10;
        position: relative;
        top:1.5vh;
        left:-1vh;
        /* transition: box-shadow  0.1s; */
    }  
    .Close:hover{
      box-shadow: 0px 0px 3px red,0px 0px 4px red ;
    }
    .Menu,
    .Menu_line1,
    .Menu_line2,
    .Menu_line3 {
      z-index: 30;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      border-radius: 7px;
      border: 2px solid grey;
      transition: box-shadow 0.001s; 
    }
    
    .Menu_line1,
    .Menu_line2,
    .Menu_line3 {
      position: relative;
      background-color: grey;
      width: 17px;
      height: 2px;
      border-radius: 1px;
      margin: 2px;
    }
    
    .Menu:hover,
    .Menu:hover .Menu_line1,
    .Menu:hover .Menu_line2,
    .Menu:hover .Menu_line3 {
      border: 2px solid rgb(168, 168, 168);
      box-shadow: 0px 0px 4px orange, 0px 0px 5px orange, 0px 0px 6px orange, 0px 0px 7px orange;
    }
    

  }


