@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  padding: 0;
  margin: 0;
}




/* Audiowide */
@font-face {
  font-family: 'Audiowide';
  src: url('./assets/fonts/Audiowide-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Rajdhani */
@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Zen Dots */
@font-face {
  font-family: 'ZenDots';
  src: url('./assets/fonts/ZenDots-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
